<html ng-app="myApp">
<head>
	<title>Angular form</title>
</head>
<style>
.red{color: red;}
.green{color: green;}
</style>
<body>
	<h1>Angular Form</h1>
	<form ng-controller="FormController" ng-submit="calcNeed()">
		<label>I have: <input ng-model="funding.having"></label>
		<br />
		<label>Still need: <input ng-model="funding.need"></label>
		<br>
		<label>
			Agreement: <input type="checkbox" ng-model="agree">
			(It's <span class="{{agreeColor}}">{{agree}}</span> for now.)
		</label>
		<br />
		<span ng-hide="agree">You have to agree to submit.</span>
		<br>
		<button type="submit" ng-disabled="!agree">Submit</button>
		<button ng-click="reset()">Reset</button>
	</form>
</body>
<script src="../angular.1.3.8.js"></script>
<script>
	var myAppModule = angular.module('myApp', []);
	myAppModule.controller('FormController', function($scope){
		$scope.agree = true;
		$scope.funding = {
			having : 0,
			need : 100,
			estimate: 100
		};
		$scope.calcNeed = function(){
			$scope.funding.need = $scope.funding.estimate - $scope.funding.having;
		}
		$scope.reset = function(){
			$scope.funding.having = 0;
			$scope.agree = true;
			$scope.calcNeed();
		}
		$scope.$watch("agree", function(){
			$scope.agreeColor = $scope.agree ? "green" : "red";
		});
	});
</script>
</html>